<div class="contaner">
  <div class="row">

    <div *ngIf="showSectionComponent" class="col-md-{{bootstrapColFirst}}">
      <button class="btn btn-outline-secondary">add section</button>
      <div *ngFor="let bookSection of bookSections; let i = index">
        <div>
          <hr>
        </div>
        <p class="sectionTitle">{{bookSection.title}}</p>
        <div>
          <button class="btn btn-outline-secondary" (click)="showContentTitle(bookSection.id)">content</button>
          <button class="btn btn-outline-secondary" (click)="showSectionDesc(i)">description</button>
        </div>
        <div>
          <a (click)="hideData()" class="btn btn-outline-secondary" routerLink="/book-section-edit"
             [queryParams]="{id:bookSection.id}">edit</a>

          <button class="btn btn-outline-secondary">delete</button>
        </div>

        <div *ngIf="checkSectionCondition(i)">
          <p class="sectionDesc">{{bookSection.description}}</p>
        </div>
      </div>
    </div>
    <div class="col-md-{{bootstrapColLast}}">
      <a (click)="hideData()"  class="btn btn-outline-secondary" routerLink="/book-content-edit">add content</a>
      <div *ngFor="let bookContent of bookContents; let i = index">
        {{bookContent.title}}
        <div>
          <button class="btn btn-outline-secondary" (click)="showContent(i)">show content</button>
          <a (click)="hideData()" class="btn btn-outline-secondary" routerLink="/book-content-edit"
             [queryParams]="{id:bookContent.id}">edit</a>

          <a (click)="removeContent(bookContent.id)" class="btn btn-outline-secondary">
            delete
          </a>
        </div>
        <div *ngIf="checkContentCondition(i)">

          <p>{{bookContent.content}}</p>

        </div>
      </div>
    </div>
  </div>
</div>


