<div class="contaner">
  <div class="row">
    <div class="col-md-3">
      <div *ngFor="let bookSection of bookSections; let i = index">
        <p class="sectionTitle">{{bookSection.title}}</p>
        <div class="row">

          <button (click)="showContentTitle(bookSection.id)">+</button>

          <button class="sectionTitle" (click)="showSectionDesc(i)">show description</button>

        </div>

        <div *ngIf="checkSectionCondition(i)">

          <p class="sectionDesc">{{bookSection.description}}</p>

        </div>

      </div>
    </div>
    <div class="col-md-9">
      <div *ngFor="let bookContent of bookContents; let i = index">

        {{bookContent.title}}

        <div>
          <button (click)="showContent(i)">show content</button>
        </div>


        <div *ngIf="checkContentCondition(i)">

          <p>{{bookContent.content}}</p>

        </div>

      </div>
    </div>
  </div>

</div>


