<div class="contaner">
  <div class="row">

    <div *ngIf="showSectionComponent" class="col-md-{{bootstrapColFirst}}">
      <button class="btn btn-dark">add section</button>
      <div *ngFor="let bookSection of bookSections; let i = index">
        <div>
          <hr>
        </div>
        <p class="sectionTitle">{{bookSection.title}}</p>
           <div>
            <button class="btn btn-dark" (click)="showContentTitle(bookSection.id)">content</button>
             <button class="btn btn-info" (click)="showSectionDesc(i)">description</button>
          </div>
        <div>
          <a (click)="hideData()" class="btn btn-outline-secondary" routerLink="/book-section-edit" [queryParams]="{id:bookSection.id}">edit</a>
          <button class="btn btn-danger">delete</button>
        </div>

        <div *ngIf="checkSectionCondition(i)">
          <p class="sectionDesc">{{bookSection.description}}</p>
        </div>
    </div>
    </div>
    <div class="col-md-{{bootstrapColLast}}">
      <button>add content</button>
      <div *ngFor="let bookContent of bookContents; let i = index">
        {{bookContent.title}}
        <div>
          <button (click)="showContent(i)">show content</button>
          <button>edit</button>
          <button>delete</button>
        </div>
        <div *ngIf="checkContentCondition(i)">

          <p>{{bookContent.content}}</p>

        </div>
      </div>
    </div>
  </div>
</div>


