<div class="container">
  <mat-card>
    <form #bookContentForm="ngForm" (ngSubmit)="saveContent(bookContentForm.value)">
      <mat-card-header>
        <mat-card-title><h2>{{bookContent.title ? 'Edit' : 'Add'}} bookContent</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="large50">
          <input matInput placeholder="bookContent" [(ngModel)]="bookContent.title"
                 required name="title" #name>
        </mat-form-field>
        <input type="hidden" placeholder="id" [(ngModel)]="bookContent.id"
               required name="id" #id>
        <br>
        <label>
          <select name="sectionId" [(ngModel)]="bookContent.sectionId">
            <option *ngFor="let section of bookSections" value="{{section.uid}}" [ngValue]="section.uid">
                {{ section.title }}
            </option>
          </select>
        </label>
         <input type="hidden" placeholder="uuid" [(ngModel)]="bookContent.uid"
               required name="uid" #uuid>
        <br>
        <textarea [(ngModel)]="bookContent.content" name="content" cols="80" rows="30" #content>
       </textarea>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit"
                [disabled]="!bookContentForm.form.valid">Save
        </button>
        <button mat-raised-button color="secondary" (click)="remove(bookContent.id)"
                *ngIf="bookContent.id" type="button">Delete
        </button>
        <a (click)="accessData()" routerLink="/book-list">Cancel</a>
      </mat-card-actions>
      <mat-card-footer>
      </mat-card-footer>
    </form>
  </mat-card>
</div>


